html{
    scroll-behavior: smooth;
}

*{
    margin: 0 !important;
    box-sizing: border-box !important;
    background: #002642;
    font-family: 'Inconsolata', monospace;
    color: #E59500;
}


/* index.html */
.mobile-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.welcomeScrn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

.welcomeScrn h1{
    font-size: 60px !important;
    font-weight: bold;
} 
.welcomeScrn h3{
    font-size: 50px !important;
}

.welcomeScrn h3{
    padding-bottom: 20px;
    border-bottom: 1px dashed #e59500;
}

/* level.html */

.mobile-level-html{
    position: absolute !important; 
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.levelScrn h3{
    position: absolute !important;
    top: 20% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    text-align: center !important;
}

.level-option{
    margin-top: 20px !important;
}

.option{
    display: none;
    padding: 10px 20px 10px 20px !important;
    margin: 0px 10px 0px 10px !important;
    min-width: 70px !important;
    max-width: 70px !important;
}

#question{
    display: none;
    position: absolute;
    top:30%;
    left: 50%;
    transform:translate(-50%,-50%);
}

#welcomeContent{
    font-size: 20px;
}

#gameOverNo{
    position:absolute;
    top:50%;
    left:30%;
    transform:translate(-50%, -50%);
    display: none;
}

#gameOverYes{
    position:absolute;
    top:50%;
    left:70%;
    transform:translate(-50%, -50%);
    display: none;
}

.mobileGoBack{
    margin: 10px !important;
}