html{
    scroll-behavior: smooth;
}

*{
    margin: 0 !important;
    box-sizing: border-box !important;
    background: #002642;
    font-family: 'Inconsolata', monospace;
    color: #E59500;
}


/* index.html */
.mobile-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.welcomeScrn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

.welcomeScrn h1{
    font-size: 60px !important;
    font-weight: bold;
} 
.welcomeScrn h3{
    font-size: 50px !important;
}

.welcomeScrn h3{
    padding-bottom: 20px;
    border-bottom: 1px dashed #e59500;
}

.mobile-level-html{
    position: absolute !important; 
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.levelScrn h3{
    position: absolute !important;
    top: 20% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    text-align: center !important;
}

.level-option{
    margin-top: 20px !important;
}

.btnHard{
    margin-top: 20px !important;
}

.option{
    display: none;
    padding: 10px 20px 10px 20px !important;
    margin: 0px 10px 0px 10px !important;
    min-width: 70px !important;
    max-width: 70px !important;
}

#question{
    display: none;
    position: absolute;
    top:30%;
    left: 50%;
    transform:translate(-50%,-50%);
}

#welcomeContent{
    font-size: 20px;
}

#gameOverNo{
    position:absolute;
    top:50%;
    left:30%;
    transform:translate(-50%, -50%);
    display: none;
}

#gameOverYes{
    position:absolute;
    top:50%;
    left:70%;
    transform:translate(-50%, -50%);
    display: none;
}

.mobileGoBack{
    margin: 10px !important;
}

/* medium level */

.operationsScreen{
    display:none;
}

#powerOperations{
    display: none;
}

#logOperations{
    display: none;
}

#log2Operations{
    display: none;
}

#squareRoot{
    display: none;
}

.logarithm{
    position: absolute;
    top: 30%;
    left: 32%;
    font-size: 40px;
    font-weight: bold;
    color: gray;
}

.logBase{
    position: absolute;
    top: 35%;
    left: 46%;
    font-size: 30px;
    font-weight: bold;
    color: green;
}

.logAnswer{
    position: absolute;
    top: 29.5%;
    left: 50%;
    font-size: 45px;
    font-weight: bold;
    color: red;
}

.questionMark{
    position: absolute;
    top: 30.5%;
    left: 56%;
    font-size: 35px;
    font-weight: bold;
}

@media (max-width: 454px){
    .logarithm{
        left: 27%;
    }
    .logBase{
        left: 43%;
    }
    .logAnswer{
        left: 48%;
    }
    .questionMark{
        left: 55%;
    }
}

@media (max-width: 399px){
    .logarithm{
        left: 23%;
    }
    .logBase{
        left: 42%;
    }
    .logAnswer{
        left: 47%;
    }
    .questionMark{
        left: 55%;
    }
}

.logarithmFirst{
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 30px;
    font-weight: bold;
}

.baseOne{
    position: absolute;
    top: 34%;
    left: 36%;
    font-size: 20px;
    font-weight: bold;
}

.answerFirst{
    position: absolute;
    top: 29.5%;
    left: 40%;
    font-size: 35px;
    font-weight: bold;
    color: gray;
}

.sign{
    position: absolute;
    top: 30.5%;
    left: 47%;
    font-size: 25px;
    font-weight: bold;
}

.logarithmSecond{
    position: absolute;
    top: 30%;
    left: 53%;
    font-size: 30px;
    font-weight: bold;
}

.baseTwo{
    position: absolute;
    top: 34%;
    left: 64.5%;
    font-size: 20px;
    font-weight: bold;
}

.answerSecond{
    position: absolute;
    top: 29.5%;
    left: 68.5%;
    font-size: 35px;
    font-weight: bold;
    color: gray;
}

.equals{
    position: absolute;
    top: 30%;
    right: 19%;
    font-size: 30px;
}

@media (max-width: 447px){
    .logarithmFirst{
        left: 22%;
    }
    .baseOne{
        left: 35%;
    }
    .answerFirst{
        left: 38.5%;
    }
    .sign{
        left: 45.5%;
    }
    .logarithmSecond{
        left: 51%;
    }
    .baseTwo{
        left: 62.5%;
    }
    .answerSecond{
        left: 66.5%;
    }
    .equals{
        right: 21%;
    }
}

@media (max-width: 416px){
    .logarithmFirst{
        left: 20%;
    }
    .baseOne{
        left: 34%;
    }
    .answerFirst{
        left: 37.5%;
    }
    .sign{
        left: 44%;
    }
    .logarithmSecond{
        left: 49%;
    }
    .baseTwo{
        left: 62.5%;
    }
    .answerSecond{
        left: 66%;
    }
    .equals{
        right: 21%;
    }
}

@media (max-width: 400px){
    .logarithmFirst{
        left: 18%;
    }
    .baseOne{
        left: 32%;
    }
    .answerFirst{
        left: 35.5%;
    }
    .sign{
        left: 43%;
    }
    .logarithmSecond{
        left: 48%;
    }
    .baseTwo{
        left: 62.5%;
    }
    .answerSecond{
        left: 66%;
    }
    .equals{
        right: 20%;
    }
}

#powerOperations{
    display: none;
}

#squareRoot{
    display: none;
}

.rootOne{
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 45px;
    font-weight: bold;
}

.firstRootInteger{
    position: absolute;
    top: 29.8%;
    left: 23%;
    font-size: 45px;
    font-weight: bold;
    color: red;
}

.minus{
    position: absolute;
    top: 29.5%;
    left: 33%;
    font-size: 45px;
    font-weight: bold;
}

.rootTwo{
    position: absolute;
    top: 30%;
    left: 43%;
    font-size: 45px;
    font-weight: bold;
}

.secondRootInteger{
    position: absolute;
    top: 29.8%;
    left: 51.5%;
    font-size: 45px;
    font-weight: bold;
    color: red;
}

.rootEquals{
    position: absolute;
    top: 29.8%;
    left: 61%;
    font-size: 45px;
    font-weight: bold;
}

.powBase{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: green;
}

.toPowerOf{
    position: absolute;
    top: 30%;
    left: 56%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: red;
}